@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,700');

// mesure
$board-width: 80vw;
$block-width: 12vw;
$domain-width: 124px;

// colors
$charcoil: #2C2C2C;
$yellow: #FCFAA3;

// size
$l-fsize: 64px;
$m-fsize: 32px;
$s-fsize: 16px;
$xs-fsize: 12px;

$s-spacing: 42px;

html,
body {
  height: auto;
  width: 100%;
  background-color: $charcoil;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 900px) {
  body {
    height: 100%;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

button {
  cursor: pointer;
}

button.standBy {
  cursor: default;
  opacity: .8;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: $l-fsize;
  margin-bottom: $s-spacing;
  line-height: 1;
}

p,span {
  color: white;
  font-size: $s-fsize;
}

p{
  margin: 0;
  & p{
    margin-top: $s-fsize;
  }
}

@media (max-width: 900px) {
  p,span {
    font-size: $xs-fsize;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.helper-container {
  min-height: 100vh;
  padding-top: $l-fsize;
  padding-bottom: $l-fsize;
}

@media (max-width: 900px) {
  .helper-container {
    margin: 0 20px;
  }
}

/**************
   Controller
***************/

.ctrl-board {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: $board-width;
  max-width: 1060px;
  margin: $s-spacing auto;
}

@media  (max-width: 900px) {
  .ctrl-board {
    width: 100%;
    margin: $m-fsize 0;
  }
}

.domain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 324px;
  width: $block-width;
  min-width: $domain-width;
  &:hover h1 {
    color: $yellow;
  }
  h1 {
    margin: 0;
    cursor:pointer;
  }
  p {
    text-align: center;
  }
  & + .domain {
    margin-left: $m-fsize;
  }
}

@media (max-width: 640px) {
  .intro{
    margin-top: $m-fsize;
  }
  .domain {
    margin: $m-fsize;
    margin-bottom: 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.controller {
  border-radius: 6px;
  height: $l-fsize;
  margin: 0;
  border: 2px solid $yellow;
  color: $yellow;
  width: $domain-width;
  .ctrl-button {
    font-size: $s-fsize;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .ctrl-display {
    font-family: 'Oswald';
    font-weight: 400;
    flex-grow: 1;
    font-size: $m-fsize;
  }
}

@media (max-width: 420px) {
  .domain {
    min-height: $domain-width;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
    h1{
      font-size: $m-fsize;
      margin-right: $s-fsize;
    }
    & + .domain {
      margin-left: 0;
      margin-right: 0;
    }
    .controller {
      min-width:$l-fsize;
      width: $l-fsize;
      height: auto;
      flex-direction: column;
      margin-left: $s-fsize;
      .ctrl-button:first-child {
        order: 3;
        margin-bottom: 10px;
      }
      .ctrl-button:last-child {
        order: 1;
        margin-top: 10px;
      }
      .ctrl-display {
        order: 2;
      }
    }
  }
}

.runner-container {
  span.runner-reset {
    cursor: pointer;
    margin: $s-fsize 0 0 0;
  }
  .runner {
    height: $l-fsize;
    width: 50vw;
    border-radius: 3px;
    background-color: $yellow;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    p {
      color: $charcoil;
    }
  }
}

/**************
   display
***************/

.bar{
  top: 0;
  position: fixed;
  width: 100vw;
  height: $m-fsize;
  .progression{
    height: 100%;
    width: 100%;
    background-color: $yellow;
    transition: ease-in ease-out 1s;
    h1{
      margin: 0;
    }
  }
}
@media (max-width: 900px){
  .bar{
    -webkit-box-shadow: 0px 32px 12px 31px $charcoil, inset 10px 10px 5px 200px $charcoil;
    -moz-box-shadow: 0px 32px 12px 31px $charcoil, inset 10px 10px 5px 200px $charcoil;
    box-shadow: 0px 32px 12px 31px $charcoil, inset 10px 10px 5px 200px $charcoil;
  }
}

/**************
     Footer
***************/

.contact {
  text-align: center;
}

footer {
  color: white;
  position: relative;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  position: absolute;
  padding: 20px;
}

footer a {
  margin: $s-fsize;
  color: white;
  text-decoration: none;
}

footer a:focus {
  outline: none;
}

footer a:hover {
  color: $yellow;
}
